.error-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f87268;
  border: 1px solid #a8170d;
  color: white;
  padding: 20px 20px;
  font-size: 0.875rem;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 8px;
  animation: slideIn 0.3s ease-out, fadeOut 0.3s ease-in 4.7s forwards;
}

.error-popup::before {
  content: '⚠️';
  font-size: 1.25rem;
}

@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
}